.st {
            background-color: #000000;
            border: 10px #000000 solid;
            
            padding: 5px 500px;
            padding-left: 500px;
            width: 1000px;

        }
        .stt {
            background-color: red;
            

        }
        .space {
            margin: 50px;
            padding: 50px;
            
        } 
        .link {
            color: red;
            text-decoration: none;
            font-size: large;
            
        }

* {
            background-color: black;
            color: blue;
}
        .body {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
                    
}
